################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TPWinform_Vargas_Delgado/.vs/TPWinform_Vargas_Delgado/FileContentIndex/232fd770-afbb-4a92-8618-1bad67558270.vsidx
